
@model LibraryManagement.ViewModels.AuthorToBooks.CreateVM
@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "CREATE AUTHOR BOOKS";

}
@using (Html.BeginForm("Create", "AuthorToBook", FormMethod.Post))
{
    <div class="form-horizontal">
        <br />
        <h4 class="ml-4">Add AuthorToBook</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group mb-3 font-weight-bold m-3">
            @Html.Label("AuthorId", "Author Name", new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.DropDownList("AuthorId", (IEnumerable<SelectListItem>)ViewData["authorById"],"--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AuthorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3 font-weight-bold m-3">
            @Html.Label("BookId", "Book Title", new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.DropDownList("BookId", (IEnumerable<SelectListItem>)ViewData["bookById"],"--Select--",new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BookId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-lg-10 m-3">
                <input type="submit" value="Create" class="btn btn-outline-primary btn-lg" />
            </div>
        </div>
    </div>

    <div class="m-3">
        @Html.ActionLink("Back to List", "Index", "AuthorToBook")
    </div>
}